Ex1/aminoacidosEjercicio1.fasta
Ex2/reporte.txt
Ex2/blastdb
.~lock.TP Bioinformatica-2017 - Parte 1.docx#
Ex1/Ex1.pl~
Ex2/Ex2.pl~
Ex3/Ex3.pl~
Ex3/INPUTproteinas.txt~
Ex3/OUTPUTalineamientoMSA
README.md~
Ex1/aminoacidosEjercicio1.fasta~
